.about {
  height: calc(100vh - 53px);
  width: 100%;
  min-width: 255px;
  max-width: 1255px;
  margin: 0 auto;
  padding: 8px 8px 16px;
  overflow-y: auto;

  h2 {
    font-weight: $font-bold;
    font-size: 2.4rem;
    background: $linear-main;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  @include media(desktop) {
    height: calc(100vh - 70px);
    padding: 16px 16px 0;

    h2 {
      font-size: 4rem;
    }

    > div:first-child {
      width: 100%;
      max-width: 600px;
    }
  }
}

.about__content {
  padding: 16px;
  display: grid;
  grid-template-columns: 10% 90%;
  gap: 8px;

  hr {
    border: none;
    width: 20px;
    height: 1px;
    background-color: $white;
    border-radius: 32px;
    margin-top: 8px;
  }

  p {
    font-size: 1.6rem;
    color: $white;
    font-weight: $font-medium;
  }

  @include media(desktop) {
    hr {
      width: 40px;
      height: 2px;
      background-color: $white;
    }
  }
}

.about__image {
  text-align: center;

  @include media(desktop) {
    position: absolute;

    bottom: 0;
    right: 0;

    picture {
      width: 557px;
      height: 569px;
      display: grid;
      place-content: center;
    }
    img {
      transform: scale(0.7);
    }
  }
}

.line__lead {
  border: none;
  height: 5px;
  width: 100%;
  background-color: $white;
  border-radius: 32px;
  margin-bottom: 16px;

  @include media(desktop) {
    margin-top: 16px;
    margin-bottom: 24px;
  }
}

.about__decoration {
  padding: 0 calc(20px + 10%);
  position: relative;

  .line__left {
    border: none;
    width: 5px;
    height: calc(100vh - 390px);
    background-color: $white;
    border-radius: 32px;
  }
}

.decoration__name {
  width: 120px;
  height: 120px;
  border: 1px solid $color-accent;
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 60px);

  .inner-circle__line {
    width: 60px;
    height: 60px;
    border: 1px solid $color-accent;
    border-radius: 50%;
    display: grid;
    place-content: center;

    .circle {
      width: 40px;
      height: 40px;
      background-color: $color-accent;
      border-radius: 50%;
    }
  }
  p {
    position: absolute;
    right: -8px;
    top: calc(50% - 12px);
    color: $white;
    font-size: 1.2rem;
    font-weight: $font-medium;
    background-color: $background;
    padding: 4px;
    border-radius: 4px;
  }

  @include media(desktop) {
    width: 180px;
    height: 180px;
    top: calc(50% - 90px);
    left: calc(50% - 90px);

    .inner-circle__line {
      width: 100px;
      height: 100px;

      .circle {
        width: 70px;
        height: 70px;
      }
    }
    p {
      right: -10px;
      top: calc(50% - 14px);
      font-size: 1.6rem;
    }
  }
}
