.about {
  height: calc(100vh - 70px);
  padding: 16px 16px 0;

  h2 {
    font-size: 4rem;
  }

  > div:first-child {
    width: 100%;
    max-width: 600px;
  }
}

.about__content {
  hr {
    width: 40px;
    height: 2px;
    background-color: $white;
  }
}

.about__image {
  position: absolute;

  bottom: 0;
  right: 0;

  picture {
    width: 557px;
    height: 569px;
    display: grid;
    place-content: center;
  }
  img {
    transform: scale(0.7);
  }
}

.line__lead {
  margin-top: 16px;
  margin-bottom: 24px;
}

.decoration__name {
  width: 180px;
  height: 180px;
  top: calc(50% - 90px);
  left: calc(50% - 90px);

  .inner-circle__line {
    width: 100px;
    height: 100px;

    .circle {
      width: 70px;
      height: 70px;
    }
  }
  p{
    right: -10px;
    top: calc(50% - 14px);
    font-size: 1.6rem;
  }
}
