.scroll-dynamic {
  display: grid;
  gap: 32px;
  padding: 8px;
  height: calc(100vh - 53px);
  position: relative;
  outline: 1px solid #dc143c;
}

.icon-container {
  background-color: $background-secondary;
  border-radius: 50%;
  box-shadow: $shadow-card;
  position: sticky;
  width: 140px;
  height: 140px;
  place-content: center;
  left: calc(50% - 70px);
  top: 40px;

  transform: translateY(0);
  transition: transform .365s ease-out;

  .logo-animated {
    transform: scale(0.6);
    left: calc(50% - 125px);
    top: calc(50% - 60px);

    .anim-mouth,
    .anim-face,
    .anim-eyebrown-right,
    .anim-eyebrown-left,
    .anim-eye-right,
    .anim-eye-left,
    .anim-ear-right,
    .anim-ear-left {
      animation-play-state: paused;
    }
  }
}

.icon-container.motion-middle{
  transform: translateY(-10px);
  transition: transform .700s ease-out;
}

.icon-container.motion-top{
  transform: translateY(-20px);
  transition: transform .700s ease-out;
}

.work-start {
  // outline: 1px solid lightblue;
  overflow-y: scroll;
  height: calc(100vh -  250px);
}

.scroll-content {
  // outline: 1px solid cadetblue;
  height: calc(100vh - 252px);
  display: grid;
  gap: 24px;

  h1 {
    font-weight: $font-bold;
    font-size: 2.4rem;
    background: $linear-main;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  p {
    font-size: 1.6rem;
    color: $white;
    font-weight: $font-bold;
  }
}

.scroll-motion {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 16px;
  padding: 16px;

  span {
    animation: scrollMotion 4s infinite ease-out;
  }

  p {
    opacity: 0;
    animation: opacityWork 2s infinite ease-out;
    animation-direction: alternate;
  }
}

.work-content {
  outline: 1px solid mediumspringgreen;
  height: 100vh;
  opacity: 0;
  animation: fadeOutRight 1s;
  display: grid;  
  gap: 16px;
  align-content: flex-start;
  padding: 120px 0 0;
}

.work-content.animation-fadeinRight{
  animation: fadeInRight 1s;
  opacity: 1;
}

.work-title--right{
  text-align: right;
  padding: 8px;

  h3 {
    font-weight: $font-bold;
    font-size: 2.4rem;
    color: $white;
  }

  p {
    font-size: 1.6rem;
    font-weight: $font-medium;
    color: $white;
  }
}


.work-background{
  width: 95%;
  min-width: 255px;
  max-width: 1024px;
  height: 250px;
  margin: 0 auto;
  position: relative;
  border-radius: 16px;
  background: $color-primary-dark-transapent;

  img {
    width: 305px;
    height: 223px;
    border-radius: 16px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}