.info__container {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.info__about {
  padding: 8px;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: relative;

  @include media(desktop) {
    padding: 32px;
  }
}

.info__about.tertiary {
  background-color: $tertiary-80;

  .sticky__header {
    h1 {
      color: $tertiary-10;
    }
  }
}

.info__about.secondary {
  background-color: $secondary-80;

  .sticky__header {
    h1 {
      color: $secondary-10;
    }
  }
}

.info__about.primary {
  background-color: $primary-80;

  .sticky__header {
    h1 {
      color: $primary-10;
    }
  }
}

.sticky__header {
  display: grid;
  gap: 8px;
  width: 100%;
  min-width: 250px;
  max-width: 1200px;
  margin: 0 auto;
  animation: fadeIn 1s;

  h1 {
    font-weight: $font-bold;
    font-size: 8rem;
    letter-spacing: -0.6rem;
    text-align: center;
  }

  span {
    position: relative;
    a {
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      outline: none;
    }

    &:focus-within {
      filter: $tertiary-30-filter;
    }

    &:hover {
      filter: $tertiary-50-filter;
    }
  }

  @include media(desktopL) {
    max-width: 1440px;
    h1 {
      font-size: 10rem;
    }
  }
}

.info__content {
  display: grid;
  gap: 16px;
  width: 100%;
  min-width: 250px;
  max-width: 1200px;
  margin: 8px auto 0;
  animation: fadeIn 2s;

  p:first-child {
    color: $background;
    font-weight: $font-semibold;
    font-size: 2rem;
  }

  p:last-child {
    color: $background;
    font-weight: $font-medium;
    font-size: 1.6rem;
  }

  @include media(desktop) {
    p:first-child {
      font-size: 3.2rem;
    }

    p:last-child {
      font-size: 1.8rem;
    }
  }

  @include media(desktopL) {
    max-width: 1440px;
  }
}

.info__action {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 150px;
  width: 100%;
  min-width: 250px;
  max-width: 1200px;
  margin: 32px auto 0;
  overflow: hidden;

  .tonal-button-primary {
    animation: fadeInDownBig 2s;
  }

  @include media(desktop) {
    height: fit-content;
  }

  @include media(desktopL) {
    max-width: 1440px;
    height: 200px;
  }
}

/*  el valor de bottom se calculó haciendo la resta del max-width (750px) menos el valor de min-width (250px) dando un total
    de 500px y ese valor lo dividimos entre dos y nos da un total de 250px que es lo que se resta después del 50% de la imagen*/
.info__image--main {
  position: absolute;
  bottom: calc(250px - 50%);
  left: 0;
  right: 0;
  text-align: center;
  animation: downToUp 4s infinite ease-in;

  img {
    width: 80%;
    min-width: 250px;
    max-width: 750px;
    border-radius: 16px;

    &:hover {
      cursor: pointer;
    }
  }

  @include media(desktop) {
    bottom: -60%;
  }

  @include media(desktopL) {
    bottom: calc(175px - 50%);
  }
}

.info__image--main.mobile-image__main {
  bottom: calc(50px - 50%);

  @include media(desktop) {
    bottom: -85%;

    img {
      max-width: 500px;
    }
  }

  @include media(desktop) {
    bottom: -40%;
  }
}

/*  */
.info__description {
  overflow-x: hidden;
  padding: 16px;
  display: grid;
  gap: 24px;
}

.description__work-item {
  width: 100%;
  min-width: 250px;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 16px;
  opacity: 0;
  transform: translateY(-20%);

  @include media(desktop) {
    gap: 32px;
    grid-template-columns: auto auto;
  }

  @include media(desktopL) {
    max-width: 1440px;
  }
}

.description__work-item.invert {
  @include media(desktop) {
    .work-item__header {
      order: 2;
      h4 {
        text-align: right;
      }
    }

    .work-item__content {
      order: 1;
    }
  }
}

.description__work-item.fadeInDown,
.description__work-item.invert.fadeInDown {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s linear, transform 1s linear;
}

.work-item__header.tertiary.work-item__header-mobile,
.work-item__header.tertiary {
  h4 {
    color: $tertiary-80;
  }
}

.work-item__header.secondary.work-item__header-mobile,
.work-item__header.secondary {
  h4 {
    color: $secondary-80;
  }
}

.work-item__header.primary.work-item__header-mobile,
.work-item__header.primary {
  h4 {
    color: $primary-80;
  }
}


.work-item__header.work-item__header-mobile{
  img {
    height: 500px;
  }

  @include media(desktopL) {
    img {
      height: 600px;
    }
  }
}

.work-item__header {
  width: 100%;
  display: grid;
  gap: 16px;

  h4 {
    font-weight: $font-bold;
    font-size: 2rem;
  }

  img {
    width: 100%;
    border-radius: 16px;

    &:hover {
      cursor: pointer;
    }
  }

  @include media(desktop) {
    h4 {
      font-size: 2.4rem;
    }
  }

  @include media(desktopL) {
    h4 {
      font-size: 2.6rem;
    }
  }
}

.work-item__content {
  width: 100%;
  p {
    color: $white;
    font-weight: $font-regular;
    font-size: 1.6rem;
  }

  @include media(desktop) {
    display: grid;
    place-content: center;
    padding: 16px;

    p {
      font-size: 2rem;
    }
  }

  @include media(desktopL) {
    p {
      font-size: 2.2rem;
    }
  }
}
