.scroll-dynamic {
  width: 100%;
  display: grid;
  gap: 32px;
  padding: 8px;
  height: calc(100vh - 53px);
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  

  @include media(desktop) {
    grid-template-columns: 15% 70%;
    justify-content: space-between;
    gap: 4px;
    padding: 0 16px;
    height: calc(100vh - 84px);
  }
}

.icon-container {
  background-color: $background-secondary;
  border-radius: 50%;
  box-shadow: $shadow-card;
  position: sticky;
  width: 140px;
  height: 140px;
  place-content: center;
  left: calc(50% - 70px);
  top: 40px;

  transform: translateY(0);
  transition: transform 0.365s ease-out;

  .logo-animated {
    transform: scale(0.6);
    left: calc(50% - 125px);
    top: calc(50% - 60px);

    .anim-mouth,
    .anim-face,
    .anim-eyebrown-right,
    .anim-eyebrown-left,
    .anim-eye-right,
    .anim-eye-left,
    .anim-ear-right,
    .anim-ear-left {
      animation-play-state: paused;
    }
  }

  @include media(desktop) {
    width: 200px;
    height: 200px;
    left: calc(5%);
    top: calc(50% - 70px);

    .logo-animated {
      transform: scale(0.8);
      left: calc(50% - 125px);
      top: calc(50% - 60px);
    }
  }

  @include media(desktopL){
    width: 280px;
    height: 280px;

    .logo-animated {
      transform: scale(1.2);
    }
  }
}

.icon-container.motion-middle {
  transform: translateY(-10px) scale(0.8);
  transition: transform 0.7s ease-out;

  @include media(desktop) {
    transform: translateX(-52px) scale(1.2);
  }

  @include media(desktopL) {
    transform: translateX(-38px) scale(1.4);
  }
}

.icon-container.motion-top {
  transform: translateY(-20px) scale(0.6);
  transition: transform 0.7s ease-out;

  @include media(desktop) {
    transform: translateX(-180px) scale(1.4);
  }

  @include media(desktopL) {
    transform: translateX(-250px) scale(1.6);
  }
}

.work-start {
  width: 100%;
  height: fit-content;
  position: relative;
  z-index: 20;
}

.scroll-content {
  height: calc(100vh - 252px);
  display: grid;
  gap: 24px;

  h1 {
    font-weight: $font-bold;
    font-size: 2.4rem;
    background: $linear-main;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  p {
    font-size: 1.6rem;
    color: $white;
    font-weight: $font-bold;
  }

  @include media(desktop) {
    height: calc(100vh - 80px);

    > div:first-child {
      align-self: flex-end;
      padding: 0 32px;
      display: grid;
      gap: 16px;

      p {
        display: inline-block;
        width: 610px;
      }
    }
    gap: 4px;

    h1 {
      font-size: 4rem;
      width: fit-content;
    }

    p {
      font-size: 3.2rem;
    }
  }
}

.scroll-motion {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 16px;
  padding: 16px;

  span {
    animation: scrollMotion 4s infinite ease-out;
  }

  p {
    opacity: 0;
    animation: opacityWork 2s infinite ease-out;
    animation-direction: alternate;
  }

  @include media(desktop) {
    justify-content: flex-start;
    justify-items: start;
    align-self: flex-end;
    gap: 32px;

    padding: 16px 32px;

    span {
      margin-left: 4px;
    }
  }
}

.work-content--mobile.work-right,
.work-content--desktop.work-right {
  animation: fadeOutRight 1s ease-out;

  .work-title {
    text-align: right;
  }

  .work-background {
    justify-self: start;
    background: $color-primary-dark-transapent;

    img {
      right: 0;
    }
  }

  @include media(desktop) {
    .work-background {
      img {
        right: calc(-10%);
      }
    }
  }
}

.work-content--mobile.work-left,
.work-content--desktop.work-left {
  animation: fadeOutLeft 1s;

  .work-title {
    text-align: left;
  }

  .work-background {
    justify-self: end;
    background: $color-primary-transparent;

    img {
      left: 0;
    }
  }

  @include media(desktop) {
    .work-background {
      img {
        left: calc(-10%);
      }
    }
  }
}

.work-content--mobile.work-left,
.work-content--mobile.work-right{
  .work-background{
    justify-self: center;
  }
}

.work-content--mobile,
.work-content--desktop {
  width: 100%;
  height: 100vh;
  opacity: 0;
  display: grid;
  gap: 16px;
  align-content: flex-start;
  padding: 100px 0 0;
  position: sticky;
  top: 0;
  z-index: 40;

  .work-title {
    padding: 8px;

    h3 {
      font-weight: $font-bold;
      font-size: 2.4rem;
      color: $white;
    }

    p {
      font-size: 1.6rem;
      font-weight: $font-medium;
      color: $white;
    }
  }

  .work-background {
    min-width: 255px;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    border-radius: 16px;
    animation: pulse 3s infinite;
    animation-delay: 1s;
    cursor: pointer;
    transform: scale(1);
    opacity: 1;
    transition: transform .365s ease-in,  opacity .365s ease-in;

    img {
      border-radius: 16px;
      position: absolute;
      right: 0;
      bottom: 0;
    }

    &:hover{
      animation: none;
      transform: scale(0.9);
      opacity: 0.8;
    }
  }

  @include media(desktop) {
    height: calc(100vh - 80px);
    gap: 8px;
    width: 100%;
    padding: 16px 0 0;

    .work-title {
      padding: 8px 22%;
      h3 {
        font-size: 2.4rem;
      }

      p {
        font-size: 1.8rem;
      }
    }

    .work-background {
      margin: 0 8px;

      img {
        bottom: calc(50% - 200px);
      }
    }
  }

  @include media(desktopL) {
    padding: 100px 0 0;

    .work-title {
      h3 {
        font-size: 3.2rem;
      }

      p {
        font-size: 2.4rem;
      }
    }
    .work-background {

      img {
        bottom: calc(50% - 305px);
      }
    }
  }
}

.work-content--desktop {
  .work-background {
    width: 95%;
    height: 250px;

    img {
      width: 305px;
      height: 223px;
    }
  }

  @include media(desktop) {
    .work-background {
      width: 70%;
      height: 440px;

      img {
        width: 90%;
        height: 400px;
      }
    }
  }

  @include media(desktopL){
    .work-background {
      height: 650px;

      img {
        height: 610px;
      }
    }
  }
}

.work-content--mobile {
  .work-background {
    width: 80%;
    height: 400px;

    img {
      width: 240px;
      height: 340px;
    }
  }

  @include media(desktop) {
    .work-background {
      width: 45%;
      height: 450px;

      img {
        width: 70%;
        height: 400px;
      }
    }
  }

  @include media(desktopL){
    .work-background {
      height: 650px;

      img {
        height: 610px;
      }
    }
  }
}

.work-content--mobile.work-right.animation-fadeinRight,
.work-content--desktop.work-right.animation-fadeinRight {
  animation: fadeInRight 1s;
  opacity: 1;
}

.work-content--mobile.work-left.animation-fadeinLeft,
.work-content--desktop.work-left.animation-fadeinLeft {
  animation: fadeInLeft 1s;
  opacity: 1;
}
