.chip{
    display: inline-block;
    padding: 10px 24px;
    background-color: $gray;
    border-radius: 32px;
    outline: none;
}


input[type="radio"]{
    appearance: none;
    outline: none;
}

input[type="radio"]:checked + .chip{
    background-color: $color-primary-dark;
}


input[type="radio"]:focus + .chip{
    outline: 3px solid $white;
}
