.footer {
  height: 100vh;
  padding: 16px;
  position: relative;
  display: grid;
  gap: 40px;
  grid-template-rows: 16% calc(64% - 72px) 20%;

  > div:first-of-type {
    height: 104px;

    .decoration-right {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  @include media(desktop) {
    padding: 32px;
    grid-template-rows: none;
    gap: 32px;

    > div:first-of-type {
      height: 150px;
      .decoration-right {
        width: 225px;
        height: 225px;
      }
    }
  }
}

.footer__content {
  width: 100%;
  min-width: 250px;
  max-width: 920px;
  margin: 0 auto;
  display: grid;
  gap: 24px;

  .content__info {
    display: grid;
    gap: 8px;

    p:first-child {
      color: $white;
      font-weight: $font-bold;
      font-size: 1.8rem;
      text-align: center;
    }

    p:last-child {
      color: $white;
      font-weight: $font-medium;
      font-size: 1.2rem;
      text-align: end;
    }
  }

  div {
    text-align: center;
    .logo {
      width: 140px;
      height: 140px;

      &:hover {
        cursor: default;
        opacity: 1;
      }
    }
  }

  @include media(desktop) {
    .content__info {
      p:first-child {
        font-size: 2.4rem;
      }

      p:last-child {
        font-size: 1.6rem;
      }
    }

    div {
      .logo {
        width: 180px;
        height: 180px;
      }
    }
  }
}

.signature {
  align-self: end;

  p {
    font-size: 1.2rem;
    color: $white;
    font-weight: $font-semibold;

    span {
      color: $color-accent;
    }
  }

  @include media(desktop) {
    p {
      font-size: 1.4rem;
    }
  }
}
