@import '../Vars.scss'; 
@import '../Breakpoints.scss';

.header{
    outline: 1px solid white;
    padding: 0 8px 8px;
    
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @include media(desktop){
        outline: 1px solid red;
    }
}