.header {
  padding: 0 8px 8px;
  width: 100%;
  min-width: 255px;
  max-width: 1920px;
  position: relative;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      display: inline-block;
      text-decoration: none;
      color: $white;
      position: relative;
      text-align: center;

      &:active::before,
      &:focus::before,
      &:hover::before {
        display: inline-block;
        content: "";
        width: calc(100% - 16px);
        margin: 0 auto;
        height: 3px;
        position: absolute;
        bottom: 0;
        background-color: $white;
        border-radius: 4px;
        left: 8px;
        right: 8px;
      }
    }
  }

  @include media(desktop) {
    padding: 16px 32px;
    margin: 0 auto;

    nav{
      a{
        padding: 8px 16px;
      }
    }
  }
}

#logo.header__logo{
  padding: 0;
  
}
.hamburguer__menu {
  position: absolute;
  top: 0;
  left: calc(50% - 53px);

  #menu-icon {
    position: absolute;
    top: 4px;
    left: calc(50% - 11px);
  }

  .transform-cicle {
    position: relative;
  }
}

.social-media {
  li {
    display: flex;
    gap: 16px;
  }
}

@include media(desktop) {
  .menu {
    display: grid;
    grid-template-columns: auto auto;
    gap: 104px;

    ul {
      display: flex;
      gap: 32px;
    }

    li {
      list-style: none;
      padding: 8px 16px;
      color: $white;
      font-size: 1.6rem;
      font-weight: $font-bold;

      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }
  }
}
