.header {
  outline: 1px solid red;
  padding: 16px;
  width: 100%;
  min-width: 255px;
  max-width: 1255px;
  margin: 0 auto;
}


.menu {
  display: grid;
  grid-template-columns: auto auto;
  gap: 104px;

  ul {
    display: flex;
    gap: 32px;
  }

  li {
    list-style: none;
    padding: 8px 16px;
    color: $white;
    font-size: 1.6rem;
    font-weight: $font-bold;

    &:hover{
      cursor: pointer;
      opacity: 0.9;
    }
  }
}
