.Hero {
  outline: 1px solid crimson;
  height: calc(100vh - 72px);
  padding: 16px 32px;

  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: flex-start;
  gap: 1px;
}

.Hero__description {
  grid-column: 1/7;
  grid-row: 1/2;
  z-index: 10;

  h1 {
    font-weight: $font-bold;
    font-size: 4.8rem;
    background: linear-gradient(91deg, #ee3d61 0%, #f07a2b 22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  p{
    font-weight: $font-medium;
    font-size: 2.4rem;
    color: $white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.hero__decoration{
  grid-column: 6/11;
  grid-row: 1/4;
  height: 100%;
  display: grid;
  align-content: flex-start;

  .decoration__content{
  
    .primary-dark{
      top: 80px;
    }
  }

  .decoration{
    width: 300px;
    height: 300px;
  }
}

.hero__actions{
  grid-column: 1/5;
  grid-row: 3/3;
  justify-self: left;
  height: 100%;

  .button-primary{
    align-self: flex-start;
    font-size: 2.4rem;
  }
  
  .i_arrow-down{
    justify-self: start;
    align-self: flex-end;
    width: 32px;
    height: 42px;
  }
}