.card__carousel{
  width: calc(100% - 32px);
  min-width: 255px;
  max-width: 600px;
  height: 294px;
  background-color: $background-secondary;
  border-radius: 8px;
  padding: 16px;
}

.card__carousel {
  display: grid;
  gap: 16px;
  align-content: flex-start;
  position: relative;
}

.carousel__header {
  h2 {
    font-weight: $font-bold;
    font-size: 2.2rem;
    background: linear-gradient(90deg, #ee3d61 0%, #f07a2b 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .i_close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 8px;
    right: 8px;
  }
}

.carousel__animated {
  overflow: hidden;
  .slide {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .carousel__item {
      width: 100%;
      padding: 16px;
      background: $linear-gray;
      border-radius: 8px;
      display: flex;
      gap: 16px;
      align-items: center;

      div {
        display: grid;
        width: 100%;
        gap: 2px;

        p:first-child {
          color: $white;
          font-weight: $font-bold;
          font-size: 1.4rem;
        }

        p:last-child {
          color: $gray;
          font-weight: $font-regular;
          font-size: 1.2rem;
        }
      }
    }
  }

  .slide.mobile{
    height: calc(75px * 6);
    -moz-animation: slider 10s infinite linear;
    -webkit-animation: slider 10s infinite linear;
    animation: slider 10s infinite linear;
  }

  .slide.web{
    height: calc(75px * 10);
    -moz-animation: sliderweb 16s infinite linear;
    -webkit-animation: sliderweb 16s infinite linear;
    animation: sliderweb 16s infinite linear;
  }

  .slide.api{
    height: calc(75px * 14);
    -moz-animation: sliderapi 22s infinite linear;
    -webkit-animation: sliderapi 22s infinite linear;
    animation: sliderapi 22s infinite linear;
  }
}

@keyframes slider {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(calc(-75px * 3));
    transform: translateY(calc(-75px * 3));
  }
}


@keyframes sliderweb {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(calc(-75px * 5));
    transform: translateY(calc(-75px * 5));
  }
}


@keyframes sliderapi {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(calc(-75px * 7));
    transform: translateY(calc(-75px * 7));
  }
}
