.modal-image {
  background-color: $background-secondary;
  border-radius: 8px 8px 0 0;
  height: calc(100vh - 100px);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  overflow-y: auto;
  animation: backInUp 1s ease-out;

  @include media(desktop) {
    padding: 16px;
  }
}

.modal-image.close-modal {
  animation: backOutDown 1s ease-in;
}

.modal-image__content {
  width: 100%;
  min-width: 250px;
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  gap: 50px;
  align-items: start;

  @include media(desktopL) {
    max-width: 1200px;
  }
}

.btn__close-modal {
  display: inline-block;
  width: fit-content;
  justify-self: end;

  input[type="button"] {
    background: $background-secondary;
    border: none;
    outline: none;
    width: 24px;
    height: 24px;
  }

  .i_close {
    position: fixed;
    top: 56px;
    right: 8px;
    animation: fadeIn 2s cubic-bezier(1, -0.14, 1, 0.74);

    &:hover {
      filter: $tertiary-99-filter;
    }
  }

  .i_close.close-icon {
    opacity: 0;
  }

  &:focus-within {
    .i_close {
      filter: $tertiary-99-filter;
    }
  }
}

.modal__image-main.modal__image-main-mobile {
  height: 350px;
  img {
    max-width: 250px;
    height: inherit;
  }

  @include media(desktop) {
    height: 450px;

    img {
      max-width: 350px;
    }
  }

  @include media(desktop) {
    height: 600px;

    img {
      max-width: 450px;
    }
  }
}

.modal__image-main {
  width: 100%;
  height: 250px;
  text-align: center;
  img {
    width: inherit;
    min-width: 250px;
    height: inherit;
    border-radius: 16px;
    outline: 1px solid crimson;
  }

  @include media(desktop) {
    height: 700px;
  }

  @include media(desktopL) {
    height: 800px;
  }
}

.modal__carousel-image-mobile.modal__carousel-image-mobile{ 
  .carousel{
    height: 100px;
  }

  img {
    height: 78px;
  }
}

.modal__carousel-image {
  display: grid;
  grid-template-columns: 20px auto 20px;
  gap: 8px;
  width: 100%;
  min-width: 250px;
  max-width: 1024px;
  align-items: center;
  padding: 0 8px;

  > div:not(.carousel) {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;

    &:hover {
      cursor: pointer;
      span {
        filter: $tertiary-99-filter;
      }
    }
  }

  .carousel {
    width: 100%;
    display: flex;
    gap: 16px;
    overflow-x: auto;
    height: 60px;
    padding: 8px 4px;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;

    div {
      position: relative;

      input[type="radio"] {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        &:hover {
          cursor: pointer;
        }
      }

      input[type="radio"]:checked:not(:focus) + img {
        outline: 4px solid $tertiary-80;
      }

      input[type="radio"]:focus + img {
        outline: 4px solid $tertiary-10;
      }

      input[type="radio"]:hover:checked + img,
      input[type="radio"]:hover + img {
        cursor: pointer;
        outline: 4px solid $color-accent;
      }
    }
  }

  img {
    width: 100%;
    min-width: 50px;
    height: 38px;
    scroll-snap-align: center;
  }

  @include media(desktop) {
    .carousel {
      height: 70px;
    }

    img {
      min-width: 58px;
      height: 42px;
    }
  }

  @include media(desktopL) {
    max-width: 1200px;
  }
}
