
.modal__menu{
    padding: 16px;
    background-color: $background-secondary;
    display: grid;
    gap: 16px;
    animation: fadeInDownBig 1s ease-out;

    .button-circle{
        margin: 0 auto;
    }
    ul{
        display: grid;
        gap: 8px;
    }

    li{
        list-style: none;
        padding: 16px 24px;
        background: $linear-main;
        
        border-radius: 112px;
        width: 100%;
        font-size: 1.4rem;
        font-weight: $font-bold;
        a{
            text-decoration: none;
            color: $white;
        }
    }
}

.button-circle{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $color-accent;
    padding: 8px;
    display: grid;
    place-content: center;
}