.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: $background-modal;
    z-index: 50;
    animation: fadeIn 0.8s;
}

.modal__content-center{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}