.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 67.2401236688423,302.7138440398488 134.4802473376846,305.4276880796977 203,291 C 271.5197526623154,276.5723119203023 341.31913431810375,245.00309172105807 410,269 C 478.68086568189625,292.99690827894193 546.2432153899005,372.5599450360701 608,409 C 669.7567846100995,445.4400549639299 725.7080041222946,438.7571281346617 789,404 C 852.2919958777054,369.2428718653383 922.9247681209206,306.4115424252834 999,291 C 1075.0752318790794,275.5884575747166 1156.5929233940226,307.5967021642047 1231,317 C 1305.4070766059774,326.4032978357953 1372.7035383029888,313.2016489178976 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
  25% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 63.33218825145997,305.222947440742 126.66437650291994,310.44589488148404 193,313 C 259.33562349708006,315.55410511851596 328.67468223978017,315.4393679148059 399,311 C 469.32531776021983,306.5606320851941 540.6368945379594,297.79663345929237 616,295 C 691.3631054620406,292.20336654070763 770.7777396083819,295.37409824802467 849,306 C 927.2222603916181,316.62590175197533 1004.2521470285126,334.70697354860874 1063,346 C 1121.7478529714874,357.29302645139126 1162.2136722775679,361.79800755754036 1222,353 C 1281.7863277224321,344.20199244245964 1360.8931638612162,322.1009962212298 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
  50% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 59.17485400206115,306.97423565784953 118.3497080041223,313.94847131569907 189,288 C 259.6502919958777,262.05152868430093 341.776021985572,203.18035039505324 419,214 C 496.223978014428,224.81964960494676 568.5462040535899,305.330127104088 641,327 C 713.4537959464101,348.669872895912 786.0391618000688,311.499141188595 850,292 C 913.9608381999312,272.500858811405 969.2971487461352,270.6733081415321 1032,250 C 1094.7028512538648,229.32669185846788 1164.7722432153898,189.80762624527654 1234,195 C 1303.2277567846102,200.19237375472346 1371.6138783923052,250.09618687736173 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
  75% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 75.23050498110615,238.94744074201304 150.4610099622123,177.89488148402612 230,216 C 309.5389900377877,254.10511851597388 393.386465132257,391.3679148059086 449,404 C 504.613534867743,416.6320851940914 531.9931295087598,304.63345929233947 584,263 C 636.0068704912402,221.36654070766056 712.6410168327037,250.09824802473378 793,294 C 873.3589831672963,337.9017519752662 957.4428031604259,396.97354860872554 1036,411 C 1114.557196839574,425.02645139127446 1187.5877705255928,394.00755754036413 1254,368 C 1320.4122294744072,341.99244245963587 1380.2061147372037,320.99622122981793 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
  100% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 67.2401236688423,302.7138440398488 134.4802473376846,305.4276880796977 203,291 C 271.5197526623154,276.5723119203023 341.31913431810375,245.00309172105807 410,269 C 478.68086568189625,292.99690827894193 546.2432153899005,372.5599450360701 608,409 C 669.7567846100995,445.4400549639299 725.7080041222946,438.7571281346617 789,404 C 852.2919958777054,369.2428718653383 922.9247681209206,306.4115424252834 999,291 C 1075.0752318790794,275.5884575747166 1156.5929233940226,307.5967021642047 1231,317 C 1305.4070766059774,326.4032978357953 1372.7035383029888,313.2016489178976 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
}
