@mixin icon-structure {
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &:hover{
        cursor: pointer;
    }
}


.i_github{
    width: 30px;
    height: 30px;
    background-image: url('./static/github.svg');
    @include icon-structure;
}